/* Spacing */

:root, html {
  --spacing-super: 3em;
  --spacing-xlarge: 2em;
  --spacing-large: 1.5em;
  --spacing-medium: 1em;
  --spacing-small: 0.5em;
  --spacing-xsmall: 0.25em;
  --spacing-tiny: 0.125em;
}
