<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    {{> includes/meta }}
    <link rel="stylesheet" media="all" href="assets/css/main.css">
  </head>

  <body>
    {{> includes/header }}

    <main role="main">
      <h1>{{ title }}</h1>
      {{#> content-block}}
      {{/content-block}}
    </main>

    {{> includes/footer }}

    <script src="assets/js/index.js"></script>
  </body>
</html>
