<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    {{> includes/meta }}
    <link rel="stylesheet" media="all" href="/assets/css/main.css">
  </head>

  <body class="o-container o-container--large page u-pillar-box-large">
    {{> includes/header }}

    <main
      role="main"
      class="page__content"
    >
      <article>
        <h1>{{ title }}</h1>
        {{#> content-block}}
        {{/content-block}}
      </article>
    </main>

    {{> includes/footer }}

    <script src="/assets/js/index.js"></script>
  </body>
</html>
