<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    {{> includes/meta }}
    {{> includes/google-analytics }}
    <link rel="stylesheet" media="all" href="/assets/css/main.css">
    <script type='module' src="/assets/js/modules/blog.js"></script>
  </head>

  <body class="o-container o-container--medium o-page u-pad-v--xlarge u-pad-h--xlarge">
    {{> includes/header }}

    <main
      role="main"
      class="o-page__content"
    >
      <article>
        <time datetime="{{ date }}">{{ date }}</time>
        <h1 class="u-mrgn-top--0">{{ title }}</h1>
        {{#> content-block}}
        {{/content-block}}
      </article>
    </main>

    {{> includes/footer }}
    {{> includes/back-to-top }}

    <script nomodule src="/assets/js/bundles/blog.js"></script>
  </body>
</html>
