<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about.html">about</a>
      </li>
      <li>
        <a href="/welcome.html">welcome</a>
      </li>
    </ul>
  </nav>
</header>

