<header>
  <nav id="main-nav" role="navigation">
    <ul class="menu" >
      <li>
        <a href="/">
          <img
            src="/assets/images/logo.svg"
            alt="Harum Bawa Logo"
            width="40"
            class="u-vlign-middle"
          >
          <span>Harum Bawa Blog</span>
        </a>
      </li>
      <li class="menu__item">
        <a href="/about.html">About</a>
      </li>
    </ul>
  </nav>
</header>

