<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    {{> includes/meta }}
    <link rel="stylesheet" media="all" href="/assets/css/main.css">
    <script type='module' src="/assets/js/modules/landingPage.js"></script>
  </head>

  <body class="o-container o-container--medium o-page o-page--center u-pad-v--xlarge u-pad-h--xlarge">
    {{> includes/header }}

    <main
      role="main"
      class="page__content u-align-center"
    >
      <img
        class="c-avatar"
        src="/assets/images/harum_avatar.jpg"
        alt="Putu Harum Bawa"
      >
      <p>Hi, there. I am <strong>Putu Harum Bawa</strong>.</p>
      <p>
        I am a software engineer.
        For past few years I mostly do front end web development stuff.
        <br>
        I love to do freediving, drawing, and some other stuff in my spare time.
      </p>

      <address>
        You can find me on <a href="https://github.com/harum">Github</a> and
        several social media such as
        <a href="https://twitter.com/harumbawa">Twitter</a>,
        <a href="https://www.instagram.com/harum_bawa/">Instagram</a>, and
        <a href="https://web.facebook.com/dark.heroem">Facebook</a>.

        <br>
        You also can contact me through my email on
        <a href="mailto:lightharum.108@gmail.com">lightharum.108@gmail.com</a>

        <br><br>
        If you want to read about my thought on web development, you can visit my
        blog at <a href="https://blog.harumbawa.com">blog.harumbawa.com</a>.

        <br><br>
        I currently working in Jakarta.
        <br>
        But you can find me in my home
        town Denpasar, Bali, when I take my vacation.
      </address>

      <p>Well...<br>see you when I see you.<p>
    </main>
    <script nomodule src="/assets/js/bundles/landingPage.js"></script>
  </body>
</html>
