<!DOCTYPE html>
<html>
<head>
  <title>{{ base_title }}</title>
  <link rel="stylesheet" media="all" href="{{ css_path }}">
</head>
<body>
  <h1>Layout Halo 2</h1>

  <a href="/">Home</a>
  <a href="/about.html">about</a>
  <a href="/welcome.html">welcome</a>
  {{#> content-block}}
  {{/content-block}}

  <script src="{{ js_path }}"></script>
</body>
</html>
